/* 样式重置 */
html { font-size: 10px; }

/* 布局代码 */
.sidebar { position: absolute; top: 0; bottom: 0; width: 30rem; }
.header { position: absolute; top: 0; right: 0; left: 30rem; height: 6rem; }
.content { position: absolute; top: 6rem; right: 0; bottom: 6rem; left: 30rem; }
.footer { position: absolute; right: 0; bottom: 0; left: 30rem; height: 6rem; }

/* 侧栏样式 */
.sidebar { overflow: auto; }
.avatar { position: relative; top: 3rem; left: 50%; width: 10rem; height: 10rem; margin-left: -5rem; border-radius: 50%; }
.author { font-size: 3rem; position: relative; top: 5rem; left: 50%; width: 20rem; margin-left: -10rem; text-align: center; }
.desc { line-height: 2rem; position: relative; top: 6rem; left: 50%; width: 20rem; margin-left: -10rem; text-align: center; color: #ccc; ; }
.social { position: relative; top: 8rem; width: 100%; text-align: center; }
.social ul, .links ul { margin: .5rem 0; }
.social ul li { display: inline-block; margin: .5rem; }
.social ul img { width: 3rem; height: 3rem; border-radius: 50%; }
.links { position: relative; top: 9rem; width: 100%; text-align: center; }
.links ul li { display: inline-block; margin: .5rem; }
.links ul a { color: #ccc; }
.links ul a:hover { color: #eee; }

/* 顶部 */
.nav { background-color: #f2f5f8; }
.navbar { position: absolute; top: 50%; width: 100%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; }
.navbar li { display: inline-block; padding: 0 .5rem; }
.navbar a { font-size: 1.8rem; display: inline-block; padding: .5rem; border: 1px solid #aaa; border-radius: .6rem; }
.navbar .active, .navbar .active:hover { cursor: default; color: #000; border-color: #3593f2; }

/* 底部 */
.copyright { font-size: 1.6rem; position: absolute; top: 50%; width: 100%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); text-align: center; }

/* 帖子列表 */
.content { overflow: auto; }
.post-list { position: absolute; top: 0; right: 0; bottom: 4rem; left: 0; padding: 1rem 2rem; }
.post-list .post { position: relative; width: 100%; height: 3.2rem; }
.post-list .post-title { font-size: 1.6rem; position: absolute; top: 50%; right: 6rem; left: 0; display: inline-block; overflow: hidden; box-sizing: border-box; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); text-overflow: ellipsis; -ms-text-overflow: ellipsis; }
.post-list .post-date { font-size: 1.2rem; position: absolute; top: 50%; right: 0; display: inline-block; box-sizing: border-box; width: 6rem; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); text-align: right; }
.post-list-tools { position: absolute; right: 0; bottom: 0; left: 0; height: 4rem; }
.post-list-tools .search { position: absolute; top: 50%; right: 37rem; left: 2rem; height: 100%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.post-list-tools .search .keyword { position: absolute; top: 50%; right: 5rem; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.post-list-tools .search .submit { position: absolute; top: 50%; right: 2rem; width: 3rem; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.post-list-tools .page { position: absolute; top: 50%; right: 2rem; width: 35rem; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.post-list-tools .page ul { width: 100%; text-align: center; }
.post-list-tools .page li, .post-list-tools .page a { display: inline-block; }
.post-list-tools .page a { font-size: 1.6rem; box-sizing: border-box; height: 3rem; padding: .6rem 1.2rem; -webkit-transition: background-color .5s; -o-transition: background-color .5s; transition: background-color .5s; color: #000; border: 1px solid #ddd; }
.post-list-tools .page li a.active { color: #fff; border: .1rem solid #1e9fff; background-color: #1e9fff; }
.post-list-tools .page li a.active, .post-list-tools .page li a.disable { cursor: default; }
.post-list-tools .page li a:hover:not(.disable):not(.active) { background-color: #ddd; }

/* 文章详情页 */
.article { font-size: 1.6rem; width: 80%; margin: 0 auto; padding: 1.5rem 0; }
.article .title { font-size: 3rem; position: relative; width: 100%; text-align: center; }
.article .info { font-size: 1.4rem; position: relative; top: 1.5rem; text-align: center; }
.article .info span { padding: 0 1rem; }
.article .detail { position: relative; top: 3rem; }
/* 文章内容样式 */
.article .detail img { width: 100%; margin: 1.5rem 0; }
.article .detail p { font-size: 1.6rem; line-height: 1.8rem; margin: 2rem 0; text-indent: 2em; }
.article .detail a { margin: 0 .5rem; color: #00f; }
.article .detail a:hover { color: #f0f; }
.article .detail blockquote { font-style: italic; margin: 1.6rem 0; padding-left: 2rem; border-left: .6rem solid #ccc; }
.article .detail h1, .article .detail h2, .article .detail h3, .article .detail h4, .article .detail h5, .article .detail h6 { margin: 1em 0; }
.article .detail table { width: 100%; margin: 1.6rem 0; color: #666; background-color: #fff; }
.article .detail thead, .article .detail tbody { display: table-row-group; vertical-align: middle; border-color: inherit; }
.article .detail tr { -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.article .detail tr:hover, .article .detail thead tr { background-color: #f2f2f2; }
.article .detail thead th { font-weight: 400; text-align: left; }
.article .detail th, .article .detail td { line-height: 20px; position: relative; min-height: 20px; padding: 9px 15px; border: 1px solid #e6e6e6; }
.article .detail dl dd { margin-bottom: -1px; margin-left: 0; padding: .5em 1em; -webkit-transition: all .5s; -o-transition: all .5s; transition: all .5s; border: 1px solid #dedede; }
.article .detail dl dd:hover { color: #000; background-color: #f5f5f5; }
.article .detail ul { margin: 1em 0; padding-left: 2em; }
.article .detail ul li { display: list-item; list-style-type: disc; }
.article .detail ul ul li { list-style-type: circle; }
.article .detail ul ul ul li { list-style-type: square; }
.article .detail ol { margin: 1em 0; padding-left: 2em; }
.article .detail ol li { list-style-type: decimal; }

/* 小屏设备 */
@media (max-width: 767px)
{
    /* 布局代码 */
    .sidebar { display: none; }
    .header, .content, .footer { left: 0; }
    /* 文章列表 */
    .post-list-tools .search { display: none; }
    .post-list-tools .page { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
}
