<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all" />
</head>
<body style="width: 80%; margin: 20px auto;">
    <blockquote class="layui-elem-quote layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input name="cate" class="layui-input" placeholder="请输入分类">
            </div>
            <a lay-submit lay-filter="category" lay-event="add" class="layui-btn">添加</a>
        </div>
        <div class="layui-inline">
            <a lay-submit lay-filter="category" lay-event="del" class="layui-btn layui-btn-danger">批量删除</a>
        </div>
        <div class="layui-inline">
            <div class="layui-form-mid layui-word-aux">Tips: 删除之后无法找回！</div>
        </div>
    </blockquote>

    <table id="cate-list" lay-filter="cate-list"></table>

    <script type="text/html" id="tools">
        <botton class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</botton>
    </script>

    <script type="text/javascript" src="/static/lib/layui/layui.js"></script>
    <script>
    layui.config({
        version: '1.0.0',
        base: '/static/mods/'
    }).extend({
        blog: 'child'
    }).use('blog');
    </script>
</body>
</html>
