<div class="login-main" style="position: absolute; top: 50%; left: 50%; width: 350px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    <header class="layui-elip" style="height: 35px; line-height: 35px; font-size: 30px; font-weight: 100; text-align: center;margin-bottom: 15px;">后台登录</header>
    <form class="layui-form" style="margin-bottom: 15px;">
        <div class="layui-input-inline" style="margin-bottom: 15px; width: 100%;">
            <input type="text" style="width: 100%;" name="key" required lay-verify="required" placeholder="口令" autocomplete="off" class="layui-input">
        </div>
        <hr>
        <div class="layui-input-inline login-btn" style="margin-bottom: 15px; width: 100%;">
            <button type="submit" class="layui-btn" style="width: 100%; margin-bottom: 5px;" lay-submit lay-filter="login">登录</button>
        </div>
    </form>
</div>
