<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="keyword" placeholder="请输入关键字">
        </div>
        <a class="layui-btn" lay-submit lay-filter="article" lay-event="search">查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger" lay-submit lay-filter="article" lay-event="del">批量删除</a>
    </div>
</blockquote>
<div class="layui-form">
    <table id="article-list" lay-filter="article-list"></table>
</div>
<script type="text/html" id="tools">
    <botton class="layui-btn layui-btn-xs" lay-event="prev">预览</botton>
    <botton class="layui-btn layui-btn-xs" lay-event="edit">编辑</botton>
    <botton class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</botton>
</script>
