<fieldset class="layui-elem-field">
    <legend>添加社链</legend>
    <div class="layui-field-box">
        <form class="row layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-col-md3 layui-col-md-offset1">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" class="layui-input" required lay-verify="required" placeholder="GitHub">
                    </div>
                </div>
                <div class="layui-col-md7">
                    <label class="layui-form-label">社链地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="url" class="layui-input" required lay-verify="required" placeholder="https://github.com/He110te4m">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="social" lay-event="add">添加社链</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<blockquote class="layui-elem-quote layui-form">
    <div class="layui-inline">
        <a data-type="del" class="layui-btn layui-btn-danger">批量删除</a>
    </div>
    <div class="layui-inline">
        <div class="layui-form-mid layui-word-aux">Tips: 删除之后无法找回！</div>
    </div>
</blockquote>

<table id="social-list" lay-filter="social-list"></table>

<script type="text/html" id="tools">
    <botton class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</botton>
</script>
