<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf8">
    <title><?=isset($sub_title) ? $sub_title . ' - ' : ''?><?=$title?></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/kico.min.css">
    <link rel="stylesheet" href="/static/css/single.min.css">
    <link rel="stylesheet" href="/static/l2d/css/live2d.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
    <div id="landlord">
        <div class="message" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
        <div class="hide-button">隐藏</div>
    </div>
    <header>
        <div class="head-title">
            <h4><?=$title;?></h4>
        </div>
        <div class="toggle-btn"></div>
        <div class="light-btn"></div>
        <div class="search-btn"></div>
        <form class="head-search" method="post" action="/">
            <input type="text" name="keyword" placeholder="搜索 O(∩_∩)O~~">
        </form>
        <ul class="head-menu">
            <li><a href="/">首页</a></li>
            <li class="has-child">
                <a>分类</a>
                <ul class="sub-menu">
                    <?php foreach($category as $item): ?>
                    <li><a href="/Cate/detail.html?key=<?= $item['key']; ?>"><?= $item['title']; ?></a></li>
                    <?php endforeach; ?>
                </ul>
            </li>
            <li><a href="/Page/link.html">友情链接</a></li>
            <!-- <li><a href="/Page/about.html">关于我</a></li> -->
        </ul>
    </header>

    <?=$container;?>

    <footer>
        <div class="buttons">
            <a class="to-top" href="#"></a>
        </div>
        <div class="wrap min">
            <section class="sub-footer">
                <p>
                    © 2018 <a href="/">He110's Blog</a>. All Rights Reserved. Power By <a href="https://github.com/He110te4m/Despote" target="_blank" rel="nofollow">Despote</a>.
                    <br>
                    博客响应时间：<?=round(gt(), 3)?> s，内存占用：<?=round(gm(), 3)?> MB
                    <br>
                    粤 ICP 备 18035037 号
                </p>
            </section>
        </div>
    </footer>

    <script src="/static/lib/jquery.min.js"></script>
    <!-- 回到顶部 -->
    <script src="https://cdn.bootcss.com/smooth-scroll/12.1.3/js/smooth-scroll.min.js"></script>
    <script>var scroll = new SmoothScroll('.to-top, .article-list a', {offset: 100});</script>
    <script src="/static/lib/layer/layer.js"></script>
    <script src="/static/js/global.js"></script>
    <!-- live2D -->
    <script type="text/javascript">
        var message_Path = '/static/l2d/'
        var home_Path = '/'
    </script>
    <script type="text/javascript" src="/static/l2d/js/live2d.js"></script>
    <script type="text/javascript" src="/static/l2d/js/message.js"></script>
    <script type="text/javascript">
        loadlive2d("live2d", "/static/l2d/model/tia/model.json");
    </script>
</body>

</html>
